* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'sans-serif';
    color: #333;
}

html, body {
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #ea02ff 0%, #0097ff 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 80vh;
    height: auto;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

#register-banner{
    background: url(img/disc\ icon.jpg);
    background-size:cover;
    background-position: center;
    width: 50%;
}

#banner-layer{
    background-color: rgba(25,11,122,0.5);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #FFF;
    word-spacing: 5rem;
}

#register-form{
    background-color: #FDFDFD;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

#register-form p{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #AAA;
    font-size: .8rem;
}

.form-control{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label{
    font-weight:bold;
    margin-bottom: .6rem;
}

.form-control input{
    border: none;
    border-bottom: 1px solid #AAA;
    padding: .6rem 0;
}

#open-generate-password{
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

#open-generate-password:hover{
    color: #0099FF;
}

#register-form #generated-password{
    border: 1px solid #0099FF;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .4rem;
    color:#333;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p{
  color: #81D340;
  margin-bottom: .5rem;
}

#register-form input[type="submit"],
#generate-password,
#copy-pass{
    background-color: #81D340;
    color: #FFF;
    opacity: .8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self:center;
    transition: .4s;
}

#register-form input[type="submit"]:hover{
    opacity: 1;
}

#generate-options {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #DDD;
}

#generate-options .form-control{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#generate-options label{
    font-size: .8rem;
}

#generate-options input[type="text"]{
    max-width: 30px;
    text-align: center;
    border: 1px solid #CCC;
}

#generate-options button{
    background-color: #0097FF;
    display: block;
    margin: 0 auto;
}

#copy-pass{
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid #81D340;
    color: #81D340;
    padding: .5rem 1rem;
    transition: .4s;
}

#generated-password .not-copy{
    border: 2px solid #FF0000;
    color: #FF0000; 
}

.hide{
    display: none;
}